void CapturedEnemy(
	float& x0, float& y0,      // 味方になった敵の左上座標
	float& x1, float& y1,      // 味方になった敵のｸ下座標
	float ex0[], float ey0[],  // 他の敵の左上座標
	float ex1[], float ey1[],  // 他の敵のｸ下座標
	int num_enemy,             // 他の敵の?
	float bx0[], float by0[],  // 弾の左上座標
	float bx1[], float by1[],  // 弾のｸ下座標
	int num_bullet,            // 弾の?
	bool button                // シ?ｪトボタ?の状ﾆﾔ
) {
	static int damage;         // 現在のダ?ージ
	static int max_damage=40;  // ダ?ージの限界値

	// 敵との?たり判ゾ??：
	// 敵と衝ｪwしたら，敵にダ?ージを与ｷV，
	// 自分もダ?ージを受ける。
	// ダ?ージ付与の具体的な??は，
	// DamageEnemy関?で行ｴﾓとする。
	for (int i=0; i<num_enemy; i++) {
		if (ex0[i]<x1 && x0<ex1[i] && 
			ey0[i]<y1 && y0<ey1[i]) {
			DamageEnemy(i);
			damage++;
		}
	}
	
	// 弾との?たり判ゾ??：
	// 弾と衝ｪwしたら，弾を消し，
	// 自分もダ?ージを受ける。
	// 消?の具体的な??は，
	// DeleteBullet関?で行ｴﾓとする。
	for (int i=0; i<num_bullet; i++) {
		if (bx0[i]<x1 && x0<bx1[i] && 
			by0[i]<y1 && y0<by1[i]) {
			DeleteBullet(i);
			damage++;
		}
	}
	
	// ?護射?：
	// 自機のシ?ｪト?作に?わせてシ?ｪトを?つ。
	// 発射の具体的な??はShot関?で行ｴﾓとする。
	if (button) Shot();

	// ダ?ージ判ゾ：
	// ダ?ージｸm限界値までｶﾔ積したら消滅する。
	// 消滅の具体的な??は，
	// DeleteCapturedEnemy関?で行ｴﾓとする。
	if (damage>=max_damage) DeleteCapturedEnemy();
}
